.about {
    background-color: var(--clr1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 4em 0;
}

.text {
    grid-column: 3 / 7;
    color: var(--clr2);
    font-family: akz;
    padding: 20px;
    text-transform: uppercase;
    margin-left: -80px;
}

.text p {
    letter-spacing: -.5px;
    margin-bottom: .8em;
    font-size: 1.2em;
}

.text h3 {
    text-indent: 3em;
    letter-spacing: 1px;
    font-size: 1.7em;
    font-weight: 500;
    line-height: 37px;
}

.line {
    width: 100%;
    border-bottom: 1.5px solid var(--clr2);
    margin-bottom: 1em;
}

.me {
    grid-column: 9 / 12;
    height: 120%;
    width: 120%;
    object-fit: contain;
    align-self: flex-end;
}

.about img {
    max-width: 110%;
}


@media all and (max-width: 50em) {
    .about {
        display: flex;
        flex-direction: column;
        text-align: end;
    }

    .text {
        display: flex;
        flex-direction: column;
        margin: -58em 0.6em 0 8em;
        font-size: .68em;
        position: absolute;
    }

    .text p {
        letter-spacing: -.5px;
        font-size: 1.3em;
    }

    .about img {
        max-width: 70%;
        margin: -65px 17px 0 0;
    }
}