
*{
    overflow-x: hidden;
    overflow-y: hidden;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7fb7be;
    z-index: 5;
    font-family: ken;
    position: relative;
    cursor: default;
}

.block {
    background-color: #7fb7be;
    height: 40vh;
    width: 100%;
    position: absolute;
    top: 60vh;
}

@media all and (max-width: 50em){
    .banner h1{
        font-size: 8em;
    }
}