.linksContainer {
    background-color: #7fb7be;
}

.allLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
    font-size: 1.8em;
    font-family: akz;
    min-width: 100vw;
    color: #233f57;
}

ion-icon {
    font-size: 1.6em;
    color: #233f57;
    padding: 18px;
}

@media all and (max-width: 50em) {
    .logoArea{
        display: flex;
    }

    .allLinks{
        justify-content: flex-end;
        align-items: flex-end;
        padding: 5em 0.6em;
    }

    ion-icon {
        font-size: 1.3em;
        padding: 11px;
    }
}