.frontContainer {
  top: 0;
  position: absolute;
  background-color: #c5e4da;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ken;
  cursor: default;
}

.nameInverted {
  writing-mode: vertical-rl;
  position: fixed;
  color: #233f57;
  min-width: 100vw;
  rotate: 180deg;
  min-height: 100vh;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.nameInverted p {
  font-size: 5.3vw;
}

.frontDev {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 6em;
}

.frontDev h1 {
  font-size: 11.4em;
}

.lang {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  min-width: 100vw;
  min-height: 100vh;
  padding: 25px;
  gap: 10px;
  z-index: 0;
}

.lang h4 {
  font-size: 1.2em;
  cursor: pointer;
}



.cont2 {
  color: rgb(129, 142, 153);
}


/* about */

.aboutContainer {
  background-color: var(--clr1);
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  gap: 8vw;
  padding-bottom: 5em;
}

.textContainer {
  color: var(--clr2);
  font-family: akz;
  text-transform: uppercase;
  padding: 0 4em;
  max-width: 45vw;
}

.textContainer p {
  margin-bottom: .8em;
  font-size: 1.5em;
}

.textContainer h3 {
  text-indent: 3em;
  letter-spacing: .8px;
  font-size: 2em;
  font-weight: 500;
  line-height: 41px;
}

.line {
  width: 100%;
  border-bottom: 1.5px solid var(--clr2);
  margin-bottom: 1em;
}

.me {
  width: 25vw;
  object-fit: contain;
  align-self: flex-end;
}




@media all and (max-width: 50em) {

  .frontContainer {
    min-height: 100vh;
    align-items: initial;
    gap: 2em;
  }

  .nameInverted p {
    font-size: 4.6em;
  }

  .frontDev h1 {
    position: inherit;
    margin: 6em .4em 0 0;
    font-size: 2.6rem;
    position: absolute;
  }

  .frontDev {
    padding: 1em;
    width: 100%;
    min-height: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0em;
  }

  .lang {
    position: absolute;
    display: flex;
    gap: 0px;
    justify-self: flex-end;
    padding: 20px 10px 20px 0;
    z-index: 0;
    font-size: .9em;
  }

  /* about */

  .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    margin-top: 11em;
  }


  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0em 1.8em 0 0;
    max-width: 80vw;
    font-size: .65em;
  }

  .textContainer p {
    letter-spacing: -.5px;
    font-size: 1.4em;

  }

  .textContainer h3 {
    text-indent: 3em;
    letter-spacing: .8px;
    font-size: 1.9em;
    line-height: 32px;
  }

  .me {
    padding-right: 1.2em;
    width: 60vw;
  }
}